<!DOCTYPE html>
<html>
  <head>
    <title>Stock Garden</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'stockApp2/css/styles.css' %}">
  </head>
  <body>
        <header>
            <div class="hero-image"></div>
        </header>
        <nav>
            <a href="{% url 'home' %}">
                <h1 id='main-title'>Stock Garden</h1>
            </a>

            {% if user.is_authenticated %}
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'stock_list' %}">View Portfolio</a></li>
                    <!-- <li><a href="{% url 'update_stock_list' %}">Update Portfolio</a></li> -->
                    <li><a href="{% url 'add_stock' %}">Add Stock</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>

                </ul>
            {% else %}
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
            {% endif %}
        </nav>
    <div id='page-container'>

        {% block content %}
        {% endblock %}
        <footer>
            <p>&copy; 2023 Scott LeFoll - scottlefoll@gmail.com</p>
        </footer>
    </div>
  </body>
</html>