<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="content-wrap3">
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <h2>Track your Stock Portfolio:</h2>
        <ul>
            <li>Enter the stocks you want to track using the Add Stock menu selection</li>
            <li>The latest price & one year of history is retrieved from MarketStack.com</li>
            <li>The stock and its history are saved in a database with your information</li>
            <li>Refresh a stock by choosing "Update Stock" on the stock detail view</li>
            <li>Refresh all your stocks by choosing "Update Stock List" on the portfolio view</li>
        </ul>

        <br>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <p><a href="{% url 'password_change' %}">Change Password</a></p>
        <br>
        <br>
        <br>
        <br>
    {% else %}
        <p>You are not logged in</p>
        <p><a href="{% url 'login' %}">Log In</a>&emsp;<a href="{% url 'signup' %}">Sign Up</a></p>
        <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>

    {% endif %}
</div>
{% endblock %}
